html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 20px;
}

.jumbotron{
    padding: 1rem 1rem;
}

.headersection {
    background-color: #8F9AA0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
}

.headerh1 {
    color:  darkslategray;
}

.headersmall {
    font-size: 50%;
    padding-left: 1rem;
    color: darkslategrey;
}

.container {
	padding-bottom: 1px;	
}